#b2blContainer{
    position: fixed;
    z-index: 10;
    width: 50%;
    margin-left: 25%;
}

@media (max-width:820px) {
    #b2blContainer{
        width: 100% !important;
        height: 200px !important;
        margin-left: 0%;
    }
}

.menu{
    width: 256px;
    height: 768px;
    text-align: center;
  }
  .dark{
    background-color: rgba(0,0,0,0.2);
    border-radius:50px;  
    background-repeat: no-repeat;
    background-position: bottom right;
    padding: 40px;
  }
